body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #361616;
}

.container {
    margin-top: 50px;
}

h1 {
    color: white;
}

p {
    color: white;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;

}

button:hover {
    background-color: #218838;
    font-size: 22px;
}
